
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url(../globall.css);
section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color: var(--brand_color);
	padding: 0px;
}
#what-we-do{
	background:#ffffff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -3px rgb(158, 158, 158);
}
#what-we-do .card-block{
	padding-left: 10px;
    position: relative;
}
 a{
	color: var(--brand_color) !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{  
	display:inline-block;
	font-weight:700;
	
}
.flexDisplay{
	display: flex !important;
	flex-direction: column;
	justify-content: flex-start;
}
.flexDisplay > section{
	display: flex !important;
	padding: 10px 0 !important;
	align-items: flex-end;
}
h5{
   opacity: .9;
}
.myimg{
   max-width: 25%;
   max-height: 25%;
   border-radius: 50%;
   padding-right: 4%;
   float: left;
}
.read-more:hover{
   text-decoration: none !important;
}

.card-title
{
   color: black;
   
}
.card-text
{
   color: black;
   text-decoration: none;
   font-size: 14px;                          /*changed font size to 14px*/
   font-weight: 400;
   
   
}

.top-img{                                      /*Postion the image at the top*/
	position:relative;
	top : -40px;
	border-style: solid;
	border-radius: 50%;
	border-color: cornsilk;
	border-width:7px;
	box-shadow: 0px 0px 4px .2px;
	max-width: 79px;
	max-height: 79px;
}

.arrow{                                    /*positiing the arrow in the card*/
	max-height: 25px;
	max-width: 25px;
	margin-left: 10px;
	margin-right: 2px;
}


/* #what-we-do .card .card-block:before{
	content: url("https://www.seekpng.com/png/detail/65-653408_happy-girl-png-business-girls.png");
   
} */
/*
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
} */
/*
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	transition: 0.5s all ease;
   max-width: 100px;
   max-height: 100px;
}*/
